azure/logicapp.yaml
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "properties": {
                            "sessionId": {
                                "type": "string"
                            },
                            "session_folder_path": {
                                "type": "string"
                            },
                            "session_detected_folder_path": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "operationOptions": "EnableSchemaValidation"
            }
        },
        "actions": {
            "Check_container_status": {
                "actions": {
                    "For_each": {
                        "foreach": "@body('Get_container_group')['properties']['containers']",
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "Delete_a_container_group": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['aci']['connectionId']"
                                                }
                                            },
                                            "method": "delete",
                                            "path": "/subscriptions/@{encodeURIComponent('6a5246f6-5d54-43c3-8169-e187bba3a8d4')}/resourceGroups/@{encodeURIComponent('scn-aujung')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent(triggerBody()?['sessionId'])}",
                                            "queries": {
                                                "x-ms-api-version": "2019-12-01"
                                            }
                                        }
                                    },
                                    "Set_variable": {
                                        "runAfter": {
                                            "Delete_a_container_group": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "container status",
                                            "value": "Terminated"
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                },
                                "expression": {
                                    "or": [
                                        {
                                            "equals": [
                                                "@items('For_each')?['properties']?['instanceView']?['currentState']?['state']",
                                                "Terminated"
                                            ]
                                        }
                                    ]
                                },
                                "type": "If"
                            }
                        },
                        "runAfter": {
                            "Get_container_group": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Get_container_group": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['aci']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/subscriptions/@{encodeURIComponent('6a5246f6-5d54-43c3-8169-e187bba3a8d4')}/resourceGroups/@{encodeURIComponent('scn-aujung')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent(triggerBody()?['sessionId'])}",
                            "queries": {
                                "x-ms-api-version": "2019-12-01"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "expression": "@equals(variables('container status'),'Terminated')",
                "limit": {
                    "timeout": "PT1H"
                },
                "type": "Until"
            },
            "Create_or_update_a_container_group": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['aci']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": {
                        "location": "Southeast Asia",
                        "properties": {
                            "containers": [
                                {
                                    "name": "detection-container",
                                    "properties": {
                                        "command": [
                                            "python",
                                            "main.py",
                                            "--session_folder_path",
                                            "@{triggerBody()?['session_folder_path']}",
                                            "--session_detected_folder_path",
                                            "@{triggerBody()?['session_detected_folder_path']}"
                                        ],
                                        "environmentVariables": [
                                            {
                                                "name": "BLOB_CONNECTION_STRING",
                                                "value": "xxx"
                                            },
                                            {
                                                "name": "API_URL",
                                                "value": "xxx"
                                            },
                                            {
                                                "name": "DETECTION_QUEUE_SIZE",
                                                "value": "1024"
                                            },
                                            {
                                                "name": "PROCESS_QUEUE_SIZE",
                                                "value": "1024"
                                            },
                                            {
                                                "name": "FRAME_PER_OBJECT_CAP",
                                                "value": "768"
                                            },
                                            {
                                                "name": "CONFIDENCE_THRESHOLD",
                                                "value": "0.4"
                                            }
                                        ],
                                        "image": "xxx",
                                        "resources": {
                                            "requests": {
                                                "cpu": 4,
                                                "memoryInGB": 4
                                            }
                                        }
                                    }
                                }
                            ],
                            "osType": "Linux",
                            "restartPolicy": "Never",
                            "diagnostics": {
                                "logAnalytics": {
                                    "workspaceId": "a6b7eb5a-5520-4cba-be2d-119a1d9269ba",
                                    "workspaceKey": "u1uk9LyRvB7aZna20kAPiFD3gN9Q33EWxXRaNtaFKyjkOe31tRZtrbB39l/ogKIoCqk5kKWCaszH4c/nx2pOvg=="
                                }
                            },
                            "sku": "Standard",
                            "imageRegistryCredentials": [
                                {
                                    "server": "xxx",
                                    "username": "xxx",
                                    "password": "xxx"
                                }
                            ]
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('6a5246f6-5d54-43c3-8169-e187bba3a8d4')}/resourceGroups/@{encodeURIComponent('scn-aujung')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent(triggerBody()?['sessionId'])}",
                    "queries": {
                        "x-ms-api-version": "2019-12-01"
                    }
                }
            },
            "Initialize_variable": {
                "runAfter": {
                    "Create_or_update_a_container_group": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "container status",
                            "type": "string",
                            "value": "Init"
                        }
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "aci": {
                    "id": "/subscriptions/6a5246f6-5d54-43c3-8169-e187bba3a8d4/providers/Microsoft.Web/locations/southeastasia/managedApis/aci",
                    "connectionId": "/subscriptions/6a5246f6-5d54-43c3-8169-e187bba3a8d4/resourceGroups/scn-aujung/providers/Microsoft.Web/connections/aci",
                    "connectionName": "aci"
                }
            }
        }
    }
}